<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<component>
    <h1>Sepulc:</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Sepulc</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sepulc, iterStat : ${sepulcs}"
            th:style="${iterStat.odd}? 'font-weight: bold;'">
            <td th:text="${iterStat.index}+1"></td>
            <td th:text="${sepulc.name}"></td>
            <td th:text="${sepulc.price}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <div>
        <a href="/order"  class="button">Заказать</a>
    </div>



</component>
</body>
</html>